@import 'utils/variables';
@import 'components/type';
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Space+Grotesk:wght@300&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}


* {
  margin: 0;
  padding: 0;
}


.container {
  overflow: hidden;
}


.section--main, .section--explication, .section--explication2,.section--explication3, .section--explication4, .section--conclusion {
  margin: 24px 24px 24px 24px;
}

.header {
  margin: 24px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
//TITLE START//

.title-second {
  font-size: 32px;
  font-weight: 800;
}

.title--red {
  color: #FF0505;
  opacity: 56%;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 50px;
}

.intro {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
//TITLE END//

//IMAGE START//
.image {
  max-width: 93%;
}
.imagephone {
  max-width: 93%;
}
.image--introduction {
  position: initial;
  opacity: 1;
  right: 70px;
  padding-top: 40%;
  padding-bottom: 40%;
}

.image--explication {
  max-width: 80%;
  z-index: 2;
  padding-top: 10%;
  padding-bottom: 10%;
}

//IMAGE END//

// SECTION //
.explication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conclusion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
  padding-bottom: 61px;
}

// UI COLOR START //
.couleur{
  display: flex;
  align-content: space-between;
}
.couleur__el {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #0000002a;
}
.couleur__el--01 {
  background-color: #000000;
}
.couleur__el--02 {
  background-color: #FF0505;
}
.couleur__el--03 {
  background-color:#ff5f5f;
}
.couleur__el--04 {
  background-color: #ff8787;
}
.couleur__el--05 {
  background-color: #fff;
}

// UI COLOR END //
// LINK START//
a {
  text-decoration: none;
  color: #ff5f5f;
  font-weight: 800;
}
.content--link{
  padding-bottom: 25px;
  list-style: none;
}
//
//.link--video {
 // display: block;
 // margin-top: 2.827rem;
 // text-align: center;
//}
//
// LINK END//

// FOOTER START//

.footer {
  margin-top: 15.981rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #ff5f5f;
}

.footer__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  gap: 1rem;
}

.footer__elements {
  display: flex;
  flex-direction: column;
  gap: 2.827rem;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.footer__img {
  border-radius: 0;
  box-shadow: none;
  transform: translateY(50px);
  width: 70%;
}

.footer__date{
  margin-left: 2px;
}

// FOOTER END//
.intro p {
  margin-top: 20px;
  max-width: 22ch;
}
// BUTTON START //
.button-download {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.button-download--dwt{
  max-width: 30%;
}
.button--record {
  background-color: #ff5f5f;
  padding: 7px 12px 14px;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  position: absolute;
  cursor: pointer;
  top: inherit;
  left: 61%;
  bottom: 67px;
}
.button--record-case {
  background-color: #ff5f5f;
  padding: 7px 12px 14px;
  margin-top: 30px;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  position: inherit;
  cursor: pointer;
  left: 61%;
  bottom: 67px;
  text-decoration: none;
}
// BUTTON END //

// DESCRIPTION START //

.description p {
  font-weight: 600;
  padding: 24px 24px 24px 24px;
  text-align: center;
}

// DESCRIPTION END //

// SECTION START //
.section--explication h2 {
  margin-top: 86%;
  margin-bottom: 26px;
}

.section--explication p {
  margin-bottom: 39px;
}
.section--colored {
  background-color: #FF0505;
  width: calc(100% + 32px);
  position: relative;
  padding: 46px 0px;
  color: #fff;
  margin-left: -16px;
}
// SECTION END //

.paragraph--uppercase{
  font-weight: 600;
  font-size: 25px;
}

.image--slideaside {
  position: absolute;
  opacity: 1;
  right: 10%;
  top: 63%;
  max-width: 100%;
}
.images--fleche {
  fill: #FF0505;
  width: 85%;
  box-shadow: azure;
  border: 1rem solid #ff8787;
  border-radius: 56%;
  margin-top: 51px;
  margin-left: 6px;
  margin-bottom: 51px;
}

.header__logo {
    width: 9em;
  }


.footer__element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 25px;
}
.footer__date{
  margin-left: 67%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 24px;
  padding-top: 60px;
}
.case-title{
  margin-top: unset;
  font-family: 'hind Madurai';
  font-size: 45px;
}
.contenu {
  grid-column: 2/-2;
  margin-bottom: 22px;
}
.typo{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.typo__element{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.imagephone--case-study{
  width: 100%;
  grid-column: 1/5;
}
.title--small{
  font-size: 25px;
  grid-column: 1/-2;
  padding-bottom: 25px;
  padding-top: 25px;
}
.article__element{
  text-decoration: none;
  list-style: none;
  margin-top: 21px;
}
.article__element-li{
  margin-bottom: 25px;
}

.footer {
  padding-bottom: 18px;
  margin-top: 87px;
}

.footer__el {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.footer__nav--el {
  margin-top: 18px;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}


.footer__el--img {
  width: 100px;
  margin: auto;
  padding-top: 22px
}

@media (min-width: 1000px) {
  .section--main, .section--explication {
    margin-left: 100px;
  }

  .header__logo {
    width: 9em;
  }

  .header {
    margin: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .image {
    max-width: 23%;
  }

  .intro {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 90px;
  }

  .intro p {
    margin-top: 0px;
    max-width: 50ch;
  }

  .button-download {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    
  }

  .button-download img {
    max-width: 18%;
    margin-right: 40px;
  }


  .description p {
    padding: 250px;
    text-align: center;
    font-size: 48px;
  }

  .explication {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }

  .conclusion {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }

  .explication--1 {
    flex-direction: row;
  }

  .section--explication h2 {
    font-size: 32px;
    max-width: 18ch;
    font-weight: 800;
  }

  .section--explication p, .conclusion p {
    margin-bottom: 50px;
    max-width: 40ch;
  }

  .footer__elements {
    margin-top: 0px;
  }
  
.image--slideaside {
  position: absolute;
  opacity: 1;
  right: 1%;
  left: -19%;
  top: 149%;
  max-width: 73%;
}
.imagephone {
  max-width: 80%;
}
}
@media (min-width: 1200px) {

  .explication1{
    top: 20%;
  }
  .explication {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }
.bouton {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.bouton input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF0505;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #FF0505;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0, 221, 80);
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}
.image--slideaside {
  position: absolute;
  opacity: 1;
  /* right: -61%; */
  left: 0%;
  top: 248%;
  max-width: 28%;
  z-index: 1;
}
.imagephone {
  max-width: 25%;
}
.section--main, .section--explication, .section--explication2, .section--explication3, .section--explication4, .section--conclusion{
  
margin: 24px 1px 2px 74px;
}
.image--introduction, .image--explication {
  position: initial;
  opacity: 1;
  right: 70px;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 35%;
}
.case-tile{
  grid-column: 1/5;
}
body::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FF0505; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white /* creates padding around scroll thumb */
}
.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
  margin: 0px 48px 0px 48px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.case-title{
  margin-top: unset;
  font-family: 'hind Madurai';
  font-size: 45px;
}
.contenu {
  grid-column: 2/-2;
  margin-bottom: 22px;
}
.typo{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.typo__element{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.imagephone--case-study{
  width: 100%;
  grid-column: 1/4;
}
.imagephone--veille{
  width: 55%;
  grid-column: 1/4;
}
.content{
  grid-column: 6/7;
}
.contenu-right{
  grid-column: 3/5;
}
a:hover{
    background-color: #ffa0a065 ;
  }
a:visited{
  text-decoration-style: none;
}
.lo{
  position: fixed;
  font-size:100px;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%,-50%);
  
}
.image--slideaside {
  position: absolute;
  opacity: 1;
  right: 4%;
  top: 50%;
  max-width: 57%;
}
}