@import 'utils/variables';
@import 'components/type';
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Space+Grotesk:wght@300&display=swap');

body {
  font-family: "bebas-neue", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #141414;
  color: #D8D8D8;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  overflow: hidden;
}

.music-container{
  display: flow-root;
  align-items: center;
  flex-flow: column;
  margin-top: 107%;
}
.music-container .bloc{
  display: table-cell;
  align-items: center;

  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem #0000;
  overflow: hidden;
  padding-bottom: 0%;
  margin-right: 3rem;
}
.music-container .bloc .image{
  border-radius: 15%;
  height: 100%;
}
.music-container .bloc .image img{
  height:100%;
  border-radius: 1rem;
}

.music-container .bloc .music {
  width: 100%;
  padding-bottom: 5rem;
}
.music-container .bloc .music audio::-webkit-media-controls-enclosure {
  background:none;
}
.section--explication3, .section--conclusion {
  background-image: url(../assets/images/mobile_img.png);
  background-size: contain;
  opacity: 2;
}
.temoignage {
  background-image: url(../assets/images/mobile_img.png);
  background-size: contain;
  opacity: 2;
}
.section--main, .section--explication, .section--explication2,.section--explication3, .section--explication4, .section--conclusion {
  margin-left: 23px;
  letter-spacing: 4px;
}
audio {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
}
.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  
}
// MOTIF BACKGROUND MOBILE // 
.roundrectangle1{
  position: fixed;
  width: 339.74px;
  height: 84.63px;
  z-index: -1;
  left: 75.08px;
  top: 674.61px;
  background: linear-gradient(90deg, #FF9D29 15.12%, #9E5000 50%);
  box-shadow: 2px 0px 11px rgb(255 156 125 / 73%), 0px 3px 3px #fbb272, 3px -4px 7px rgb(0 0 0 / 99%), -10px 1px 16px rgb(0 0 0 / 59%);
  border-radius: 133px;
  transform: rotate(135deg);
}
.roundrectangle2{
position: fixed;
width: 509px;
z-index: -2;
height: 122.39px;
left: 75.07999999999998px;
top: 674.61px;

background: linear-gradient(90deg, #FDD602 24.86%, #130A00 78.06%);
border-radius: 133px;
transform: rotate(135deg);
}
.roundrectangle3{
position: fixed;
width: 447px;
height: 15.24px;
z-index: -2;
right: 286px;
top: 659px;
background: linear-gradient(90deg, #CE00FF 3.61%, #5C1D6B 50%);
border-radius: 133px;
transform: rotate(135deg);
}
.roundrectangle4 {
position: fixed;
width: 447px;
height: 15.24px;
z-index: -2;
left: 230px;
top: 394.78px;
background: linear-gradient(90deg, #CE00FF 3.61%, #5C1D6B 50%);
border-radius: 133px;
  transform: rotate(315deg);
}
.roundrectangle5 {
  position: fixed;
  width: 509px;
  height: 62.86px;
  left: 260.37px;
  top: -64.55px;
  z-index: -1;
  background: linear-gradient(269.84deg, #FF5B94 9.53%, #FF5B94 40.99%);
  box-shadow: -6px -1px 7px #ff5b94, -3px 3px 3px #ffffff, 1px 1px 2px rgb(255 1 1 / 77%), 8px 6px 20px rgb(0 0 0 / 58%), -8px 0px 6px rgb(101 55 82 / 42%);
  border-radius: 133px;
  transform: rotate(135deg);
}
.roundrectangle6{
position: fixed;
width: 486.28px;
height: 99.33px;
left: 199.15999999999997px;
top: -85.75999999999999px;
z-index: -2;
background: linear-gradient(270deg, #FDD602 3.6%, #BB9A00 51.39%);
border-radius: 133px;
transform: rotate(135deg);
}
.wavyround1 {
position: fixed;
width: 152px;
height: 74px;
left: 0px;
top: 0px;
z-index: -2;
background: linear-gradient(270deg, #FF5B94 -7.04%, #FFE6EE 127.23%);
background: url(../assets/images/waveround1.png);
}

.wavyround2 {
  
position: fixed;
width: 213px;
height: 103.11px;
left: 0px;
top: 667.11px;
z-index: -2;
background: url(../assets/images/waveround2.png);
}
// MOTIF FIN // 

// BOX BLUR // 
.box {
  position: absolute; 
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
}

//TITLE START//

.title--second {
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: white;
  margin-left: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 6%;
  max-width: 30ch;
  letter-spacing: 4px;
}

.title--troisieme {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  color: #D8D8D8;
  margin-left: 23px;
  margin-top: 87%;
  letter-spacing: 4px;
  max-width: 38ch;
}
.title--intro {
  color: #ffffff;
  font-family: "objektiv-mk1", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  margin-top: 33%;
  /* width: 30px; */
  position: absolute;
  top: 1%;
  /* left: 84px; */
  margin-left: 2ch;
}
.title--
//TITLE END//
//TEMOIGNAGE START//
.temoignage{
  background-color: var(--c-primary);
  padding: 36px;
  border-radius: 15px;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  font-size: 16px;
}

.temoignage__img--austin {
  background-image: url(../assets/images/austin@2x.png);
}
.temoignage__img--hactarus {
  background-image: url(../assets/images/hacta@2x.png);
}
.temoignage__img--gpb {
  background-image: url(../assets/images/gbp@2x.png);
}
.temoignage__img {
  padding-top: 90px;
  background-repeat: no-repeat;
  background-size: 72px;
  background-position: top center;
}

.review__quote {
  margin-left: 25px;
  min-width: 16ch;
  padding-left: 35px;
  padding-right: 10%;
}

.intro{
  justify-content: space-between;
  flex-direction: row;
  position: inherit;
  align-items: flex-start;
}
.intro__head{

  padding-top: 41%;
  margin-top: 8%;
}
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel__slider {
  position: relative;
  display: flex; 
  align-items: center;
  width: 80vw;
  height: 200px;
}

.carousel__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  border-radius: 50px;
  box-sizing: border-box;
}
.carousel__item:hover {
  transform: scale(1.1);
  font-size: 30px;
}
.logo {
  max-width: 100%;
  /* height: 25%; */
  /* width: 17%; */
  /* padding-bottom: 74%; */
  /* position: inherit; */
  /* display: contents; */
  height: 45px;
  width: 45px;
  position: absolute;
  top: 10px;
  left: 16px;
  cursor: pointer;
}
//IMAGE START//
.image {
  max-width: 93%;
}
.imagephone {
  max-width: 93%;
}
.image--introduction {
  position: initial;
  opacity: 1;
  right: 70px;
  padding-top: 40%;
  padding-bottom: 40%;
}

.image--explication {
  max-width: 80%;
  z-index: 2;
  padding-top: 10%;
  padding-bottom: 10%;
}

//IMAGE END//

// SECTION //
.explication {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f8ff;
}

.conclusion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
  padding-bottom: 61px;
}

// UI COLOR START //
.couleur{
  display: flex;
  align-content: space-between;
}
.couleur__el {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #0000002a;
}
.couleur__el--01 {
  background-color: #000000;
}
.couleur__el--02 {
  background-color: #FF0505;
}
.couleur__el--03 {
  background-color:#ff5f5f;
}
.couleur__el--04 {
  background-color: #ff8787;
}
.couleur__el--05 {
  background-color: #fff;
}

// UI COLOR END //
// LINK START//
a {
  text-decoration: none;
  color: #ff5f5f;
  font-weight: 800;
}
.content--link{
  padding-bottom: 25px;
  list-style: none;
}
//
//.link--video {
 // display: block;
 // margin-top: 2.827rem;
 // text-align: center;
//}
//
// LINK END//

// FOOTER START//

.footer {
  margin-top: 15.981rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #ff5f5f;
}

.footer__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  gap: 1rem;
}

.footer__elements {
  display: flex;
  flex-direction: column;
  gap: 2.827rem;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.footer__img {
  border-radius: 0;
  box-shadow: none;
  transform: translateY(50px);
  width: 70%;
}

.footer__date{
  margin-left: 2px;
}

// FOOTER END//
.intro p {
  margin-top: 44%;
  max-width: 50ch;
  font-size: 26px;
  font-family: 'objektiv-mk3', sans-serif;
}
// BUTTON START //
.button-download {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.button-download--dwt{
  max-width: 30%;
}
.button--record {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 7px 12px 14px;
  color: #fff;
  font-weight: 400;
  position: absolute;
  cursor: pointer;
  top: inherit;
  left: 61%;
  bottom: 67px;
}
.button--record-case {
  background-color: #524848;
  padding: 7px 12px 14px;
  color: #fff;
  font-weight: 400;
  position: absolute;
  cursor: pointer;
  left: 7%;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 88%;
}
// BUTTON END //

// DESCRIPTION START //

.description p {
  font-weight: 600;
  padding: 24px 24px 24px 24px;
  text-align: center;
}

// DESCRIPTION END //

// SECTION START //
.section--explication h2 {
  margin-top: 17%;
  margin-bottom: 26px;
}

.section--explication p {
  margin-bottom: 39px;
}
.section--colored {
  background-color: #FF0505;
  width: calc(100% + 32px);
  position: relative;
  padding: 46px 0px;
  color: #fff;
  margin-left: -16px;
}
// SECTION END //

.paragraph--uppercase{
  font-weight: 600;
  font-size: 25px;
  font-family:'objektiv-mk3', sans-serif;
}

.image--slideaside {
  position: absolute;
  opacity: 1;
  right: 10%;
  top: 63%;
  max-width: 100%;
}
.images--fleche {
  fill: #FF0505;
  width: 85%;
  border: 1rem solid #ff8787;
  border-radius: 56%;
  margin-top: 51px;
  margin-left: 6px;
  margin-bottom: 51px;
}

.header__logo {
    width: 9em;
  }


.footer__element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 25px;
}
.footer__date{
  margin-left: 67%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 24px;
  padding-top: 60px;
}
.case-title{
  margin-top: unset;
  font-size: 45px;
}
.contenu {
  grid-column: 2/-2;
  margin-bottom: 22px;
}
.typo{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.typo__element{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.imagephone--case-study{
  width: 100%;
  grid-column: 1/5;
}
.title--small{
  font-size: 25px;
  grid-column: 1/-2;
  padding-bottom: 25px;
  padding-top: 25px;
}
.article__element{
  text-decoration: none;
  list-style: none;
  margin-top: 21px;
}
.article__element-li{
  margin-bottom: 25px;
}

.footer {
  padding-bottom: 18px;
  margin-top: 87px;
}

.footer__el {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.footer__nav--el {
  margin-top: 18px;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}


.footer__el--img {
  width: 100px;
  margin: auto;
  padding-top: 22px
}
//TABLETTE//
@media (min-width: 1000px) {
  .section--main, .section--explication {
    margin-left: 100px;
  }

  .header__logo {
    width: 9em;
  }

  .header {
    margin: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .image {
    max-width: 23%;
  }

  .intro {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 90px;
  }

  .intro p {
    margin-top: 0px;
    max-width: 50ch;
  }

  .button-download {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    
  }

  .button-download img {
    max-width: 18%;
    margin-right: 40px;
  }


  .description p {
    padding: 250px;
    text-align: center;
    font-size: 48px;
  }

  .explication {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }

  .conclusion {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }

  .explication--1 {
    flex-direction: row;
  }

  .section--explication h2 {
    font-size: 32px;
    max-width: 18ch;
    font-weight: 800;
  }

  .section--explication p, .conclusion p {
    margin-bottom: 50px;
    max-width: 40ch;
  }

  .footer__elements {
    margin-top: 0px;
  }
  
.image--slideaside {
  position: absolute;
  opacity: 1;
  right: 1%;
  left: -19%;
  top: 149%;
  max-width: 73%;
}
.imagephone {
  max-width: 80%;
}
}

//DESKTOP//
@media (min-width: 1200px) {

.explication1{
    top: 20%;
}
.explication {
flex-direction: row-reverse;
align-items: center;
justify-content: center;
margin-top: 150px;
}
.bouton {
position: relative;
display: inline-block;
width: 3.5em;
height: 2em;
}
.intro__head{

  padding-top: 9em;
  padding-bottom: 23em;
  margin-top: -13%;
}
.bouton input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF0505;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #FF0505;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0, 221, 80);
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}
.image--slideaside {
  position: absolute;
  opacity: 1;
  /* right: -61%; */
  left: 0%;
  top: 248%;
  max-width: 28%;
  z-index: 1;
}
.imagephone {
  max-width: 25%;
}
.section--main, .section--explication, .section--explication2, .section--explication3, .section--explication4, .section--conclusion{
  
margin: 24px 1px 2px 74px;
}
.image--introduction, .image--explication {
  position: initial;
  opacity: 1;
  right: 70px;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 35%;
}
.case-tile{
  grid-column: 1/5;
}
body::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FF0505; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white /* creates padding around scroll thumb */
}
.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
  margin: 0px 48px 0px 48px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.case-title{
  margin-top: unset;
  font-size: 45px;
}
.contenu {
  grid-column: 2/-2;
  margin-bottom: 22px;
  max-width: 50ch;
}
.typo{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.typo__element{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.imagephone--case-study{
  width: 100%;
  grid-column: 1/4;
}
.imagephone--veille{
  width: 55%;
  grid-column: 1/4;
}
.content{
  grid-column: 6/7;
}
.contenu-right{
  grid-column: 3/5;
}
a:hover{
    background-color: #ffa0a065 ;
  }
a:visited{
  text-decoration-style: none;
}
.lo{
  position: fixed;
  font-size:100px;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%,-50%);
  
}
.image--slideaside {
  position: absolute;
  opacity: 1;
  right: 4%;
  top: 50%;
  max-width: 57%;
}
}